<div class='well well-sm'>
    <div style='display:flex; flex-wrap:wrap;'>
        <img src='{{ img_source }}img/MonsterIcon/{{ Monster.MonsterId }}.png' height='60' width='60'>
        <div style='align-self:center; padding-left:5px; padding-top:5px;'>
            <div>
                <b style='font-size:15px;'>No.{{ Monster.MonsterId }} - {{ Monster.CnName }}</b>
            </div>
            <div>
                {% for TypeId in TypeIds %}
                    <img src='{{ img_source }}img/Type/{{ TypeId }}.png' height='23' width='23'>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style='padding-top:10px; padding-bottom:5px;'>
        <b>覺醒技:</b>
        {% for AwokenSkillId in AwokenSkillIds %}
            <img src='{{ img_source }}img/AwokenSkill/{{ AwokenSkillId }}.png' width='20'>
        {% endfor %}
    </div>
    <div style="padding-bottom:10px;">
        <b>超覺醒:</b>
        {% for SuperAwokenSkillId in SuperAwokenSkillIds %}
            <img src='{{ img_source }}img/AwokenSkill/{{ SuperAwokenSkillId }}.png' width='20'>
        {% endfor %}
    </div>
    <div>
        <table class='table table-bordered table-condensed'>
            <thead>
                <tr>
                    <th>Lv</th>
                    <th>HP</th>
                    <th>ATK</th>
                    <th>RCV</th>
                    <th>Weighted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ Monster.LvMax }}</td>
                    <td>{{ Monster.Hp }} </td>
                    <td>{{ Monster.Atk }}</td>
                    <td>{{ Monster.Rcv }}</td>
                    <td>{{ '{:.0f}'.format(Monster.Weighted) }}</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>{{ '{:.0f}'.format(Monster.Hp110) if Monster.Hp110 == Monster.Hp110 else '' }} </td>
                    <td>{{ '{:.0f}'.format(Monster.Atk110) if Monster.Atk110 == Monster.Atk110 else '' }}</td>
                    <td>{{ '{:.0f}'.format(Monster.Rcv110) if Monster.Rcv110 == Monster.Rcv110 else '' }}</td>
                    <td>{{ '{:.0f}'.format(Monster.Weighted110) if Monster.Weighted110 == Monster.Weighted110 else '' }}</td>
                </tr>
            </tbody>

        </table>

        <table class='table table-bordered table-condensed'>
            <tbody>
                <tr>
                    <th style="color:orange;">主動技能</th>
                    <td>{{ ActiveSkill.ActiveSkillName }}</td>
                    <th>CD</th>
                    {% if ActiveSkill.MaxCd==ActiveSkill.MaxCd %}
                        <td>{{ '{:.0f}'.format(ActiveSkill.MaxCd) }} → {{ '{:.0f}'.format(ActiveSkill.MinCd) }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <td style="text-align: left; font-size: 13px;" colspan="4">
                        {{ ActiveSkill.ActiveSkillDescription|safe }}
                    </td>
                </tr>
                <tr>
                    <th style="color:orange;">隊長技能</th>
                    <td colspan="3">{{ LeaderSkill.LeaderSkillName }}</td>
                </tr>
                <tr>
                    <td style="text-align: left; font-size: 13px;" colspan="4">
                        {{ LeaderSkill.LeaderSkillDescription|safe }}
                    </td>
                </tr>
                <tr>
                    <th>外部鏈接</th>
                    <td style="text-align: left; padding-left: 10px;" colspan="3">
                        <a href="http://pad.skyozora.com/pets/{{ Monster.MonsterId }}" target="_blank">戰友網</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

</div>